.root {
  padding: var(--space-4);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.inline {
  display: flex;
  justify-content: space-between;
}

.textarea :global(.rt-TextAreaInput) {
  font-size: inherit;
}

.rightActions {
  display: flex;
  gap: var(--space-2);
  align-items: center;
}
