.article {
  padding: 16px;
  border-bottom: 1px solid var(--gray-4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: var(--gray-12);
}

.content {
  line-height: 1.5;
  text-align: justify;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
}

/* Footer */
.actions {
  display: flex;
  justify-content: space-between; /* left: likes, right: actions */
  align-items: center;
  margin-top: 8px;
}

/* Likes count (same style as date) */
.likesCount {
  font-size: 12px;
  color: var(--gray-12);
}

/* Actions group (right side) */
.rightActions {
  display: flex;
  gap: 16px;
}

.likeButton {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.05em;

  color: var(--gray-11);
  transition:
    color 0.2s ease,
    transform 0.1s ease;
}

.likeButtonLabel {
  font-size: var(--font-size-1);
}

.likedButtonLabel {
  font-size: var(--font-size-1);
  color: var(--gray-6);
}

.avatarImage {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  overflow: hidden;
}
