.root {
  padding: var(--space-4);
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-3);
}

.avatar {
  padding-top: var(--space-1);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.inline {
  display: flex;
  justify-content: space-between;
}

.textarea :global(.rt-TextAreaInput) {
  font-size: inherit;
}
